
/*
.january{
    text-align: center;
}
.february{
    background: #000;
    color: #fff;
}
.march{
    background: orange;
    color: #000;
}
.april{
    padding: 50px 25px;
}
.may{
    background: #fd79a8;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    display: inline-block;
}
.june{
    width: 85%;
    margin: auto;
}
*/
